<div id="root"></div>

<environment names="Staging,Production">
	<script src="~/js/dash.min.js" asp-append-version="true"></script>
	<link rel="stylesheet" href="~/css/dash.min.css" asp-append-version="true" />
</environment>