@{ ViewData["Title"] = "Inicio"; }

<div id="root"></div>

<environment names="Staging,Production">
	<script src="~/js/site.min.js" asp-append-version="true"></script>
	<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>